*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

.App {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-container {
  text-align: center;
}

.countdown-container h2{
  font-size: 50px;
  margin: 25px 0;
  font-family: 'Lobster', cursive;
}

.box-timer {
  display: flex;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.box-timer h2, p {
  font-family: 'orbitron', sans-serif;
}

.days, .hours, .minutes, .seconds {
  font-size: 25px;
  margin: 0 10px;
  padding: 20px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 
  0 0 150px #0072ff, 0 0 200px #0072ff;
}

.hours {
  animation-delay: 0.3s;
}

.minutes {
  animation-delay: 0.7s;
}

.seconds {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


